APP_NAME="CND Manager"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_LOCALE=ar
APP_FALLBACK_LOCALE=en

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=cnd_manager
DB_USERNAME=cnd_app
DB_PASSWORD=change-app-password

DB_OWNER_USERNAME=cnd_owner
DB_OWNER_PASSWORD=change-owner-password
DB_READONLY_USERNAME=cnd_readonly
DB_READONLY_PASSWORD=change-readonly-password
